 <ul class="w3-ul w3-card-4 row" style="margin-bottom: 16px;">
          <li style="margin-top:10px; margin-bottom: 10px;">
            <div class="input-field col s6 m65 " >
                      <i class="material-icons prefix">search</i>
                      <input id="search" type="text" [(ngModel)]="searchFilter">
                      <label for="search">Search</label>
            </div>
            <div class="input-field col s6 m6 " >
                <input  id="search" type="number"  min="1" max="10" (change)="getAllStaff(ItemPerPage,0)" [(ngModel)]="ItemPerPage">
                <label [class.active]="ItemPerPage"for="search">Paginate</label>
            </div>
          </li>
  </ul>

<div class="row">   
   
  <div class="col s12 m12">
    <ul class="w3-ul w3-card-4 ">
      <li    *ngFor="let staff of staffs | filter:'name':searchFilter;let i = index" [class]="i%2?'w3-animate-left w3-padding-16 pointer':'w3-animate-right w3-padding-16 pointer'" >
        <a class="btn-floating btn-tiny waves-effect waves-light red close " (click)="deletestaff(staff.userId)">
            <i class="material-icons">close</i>
        </a>
         <a  (click)="formModal.style.display='block';openform(staff)" class=" w3-right btn btn-floating btn-medium yellow darken-3 w3-tooltip"
          style="overflow: inherit; margin-right: 10px;">
          <i class="material-icons">edit</i>
          <span style="position:absolute;left:0px;top:50px" class="w3-animate-opacity w3-text w3-tag w3-tiny">
                 Edit
          </span>
        </a>
        <a  (click)="child.style.display='block';getParentchildrens(staff)" class=" w3-right btn btn-floating btn-medium blue darken-3 w3-tooltip"
          style="overflow: inherit; margin-right: 10px" [style.zIndex]="5-i">
          <i class="material-icons">supervisor_account</i>
          <span style="position:absolute;left:0px;top:50px; " class="w3-animate-opacity w3-text w3-tag w3-tiny">
                 timetable
          </span>
        </a>
        <a  (click)="groupPermissions.style.display='block';getAllGroups(staff)" class=" w3-right btn btn-floating btn-medium blue darken-3 w3-tooltip"
          style="overflow: inherit; margin-right: 10px" [style.zIndex]="5-i">
          <i class="material-icons">lock_open</i>
          <span style="position:absolute;left:0px;top:50px; " class="w3-animate-opacity w3-text w3-tag w3-tiny">
                 permissions
          </span>
        </a>
        
        <img [src]="(staff.img==null || staff.img=='')?defualt[staff.gender]:defualt['img_url']+staff.img" class="w3-left w3-circle w3-margin-right" style="width:50px">
        <span class="w3-large">{{staff.name}}</span><br>
        <span>{{staff.staff_type.type}}</span>
      </li>
      <li>
<app-pagination [page]="1" [PerPage]="ItemPerPage" [PerSlide]=4 [count]="count" (goPage)="goPage($event)"></app-pagination>

      </li>
    </ul>
  </div>




<div #formModal class="w3-modal">
  <div *ngIf="newStaff">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom">
      <header class="w3-container w3-black">
        <span (click)="formModal.style.display='none';newStaff=null;" class="w3-button w3-black w3-xlarge w3-display-topright">&times;</span>
        <h5>{{(newStaff.user.name)?'Edit ':'Create'}}{{newStaff.user.name}}</h5>
      </header>
      <app-dynamic-form [data]="newStaff" [options]="StaffFormOptions" (save)="newStaff.updating? updateStaff($event,formModal) : createStaff($event)"></app-dynamic-form>
      <div class="w3-container w3-light-grey w3-padding">
      </div>
    </div>
  </div>
</div>
<div class="fixed-action-btn" (click)="formModal.style.display='block';openform()">
  <a class="btn-floating btn-large red">
    <i class="material-icons green darken-1">add</i>
  </a>
</div>


<div #groupPermissions class="w3-modal">
  <div *ngIf="currentStaff && allgroups">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom">
      <header class="w3-container w3-black">
        <span (click)="groupPermissions.style.display='none';" class="w3-button w3-black w3-xlarge w3-display-topright">&times;</span>
        <h5>Permission Groups</h5>
      </header>


      <div class="collection" style="overflow-y: auto ; max-height: 300px;">
        <div class="row">
          <div class="col m4 s5">
            <select class="w3-select"[(ngModel)]="selectedPG" name="option">
            <option value="" disabled selected>Permissions</option>
            
            <option *ngFor="let group of allgroups | find: currentStaff.permissionGroups:'id'" 
            [value]="group.id">{{group.groupName}}</option>
          </select>
          </div>
          <div class="col m1 s2">
            <a class="btn-floating btn-medium waves-effect waves-light green" (click)="addusertoPermissionGroup(selectedPG)">
              <i class="material-icons">add</i>
            </a>
          </div>
          <div class="input-field col m4 s12" style="top: -23px;">
            <i class="material-icons prefix">search</i>
            <input id="search" type="text" [(ngModel)]="searchGroup">
            <label for="search">Search</label>
          </div>
        </div>


        <ul class="collection">
          <li *ngFor="let group of currentStaff.permissionGroups | filter:'groupName':searchGroup" class="collection-item dismissable">
            <div class="w3-row">
              <div class="w3-col m6 s12">
                <p>{{group.groupName}}</p>
              </div>
              <div class="w3-col m2 s6">
                <a class="btn-floating btn-tiny waves-effect waves-light red close" (click)="deleteuserFromPermissionGroup(group.id)">
                   <i class="material-icons">close</i>
                  </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>