@import url("../../../../node_modules/materialize-css/dist/css/materialize.min.css");

table tr td:first-child{
    width: 20%;
}

.right {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.pointer {
    cursor: pointer;
}

.details-table{
    display: none;
}

.details-table tr td:first-child {
    width: inherit; 
}

.card-action {
    direction:rtl;
}

select {
    display: inherit;
}