 <div class="row" *ngFor="let permissiongroup of permissionGroups">
        <div class="col s12 m12">
          <div class="card darken-1">
            <div class="card-content black-text">
              <span class="card-title">{{permissiongroup.groupName}}</span>
              <p>{{permissiongroup.description}}</p>
            </div>
            <div class="card-action">
      <a (click)="id01.style.display='block';getAllPermissions(permissiongroup)"class="btn btn-floating btn-large tooltipped" data-position="bottom" data-delay="50" data-tooltip="Permissions">
        <i class="material-icons">menu</i></a>
        
          
          <a class="btn btn-floating btn-large "><i class="material-icons">cloud</i></a>
          <a class="btn btn-floating btn-large "><i class="material-icons">edit</i></a>
            </div>
          </div>
        </div>
      </div>

  


<div  #id01 class="w3-modal">
  <div *ngIf="currentGroup">
 <div class="w3-modal-content w3-card-4 w3-animate-zoom">
  <header class="w3-container w3-black"> 
   <span (click)="id01.style.display='none'" 
   class="w3-button w3-black w3-xlarge w3-display-topright">&times;</span>
   <h5>{{currentGroup.groupName}}</h5>
  </header>


     <div class="collection" style="overflow-y: auto ; max-height: 300px;">
      <ul class="w3-ul w3-hoverable">
        <li>Jill</li>
        <li>Eve</li>
        <li>Adam</li>
        <li>Jill</li>
        <li>Eve</li>
        <li>Adam</li>
      </ul>
      </div>


  <div class="w3-container w3-light-grey w3-padding">
   <button class="w3-btn w3-right w3-white w3-border" 
   (click)="id01.style.display='none'">Close</button>
  </div>
 </div>
  </div>
</div>


          
