@import url("../../../../node_modules/materialize-css/dist/css/materialize.min.css"); 
.file{
    display: none;
} 

span{
    color: red;
}
.Fspan{
    color: white;
    font-size: 14px;

}
.Fhide{
    display: none;

}
select{
    display: inherit;
}